dotenv_if_exists .env
PATH_add $HOME/.pkgx/nodejs.org/v20.10.0/bin
PATH_add $HOME/.pkgx/pnpm.io/v8.15.7/bin
PATH_add development/npm-package-development/bin
PATH_add node_modules/.bin
export NODE_OPTIONS='--max-old-space-size=32768'
export NODE_EXTRA_CA_CERTS="$PWD/rootCA.pem"
export TUNNEL_MONOREPO_DIRPATH="$PWD"
export NEXT_PUBLIC_TUNNEL_MONOREPO_DIRPATH="$PWD"