auto-install-peers=false
recursive-install=true
# This should be `true` to avoid running postinstall scripts multiple times
shared-workspace-lockfile=true
save-workspace-protocol=rolling
save-prefix=''
ignore-workspace-cycles=true
update-notifier=false
# https://github.com/pnpm/pnpm/issues/6300
dedupe-peer-dependents=false